body{
    background-image: linear-gradient(teal,purple);
    margin:0;
    display: flex;
    height:100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
   flex-direction:column;
}
h1{
    text-align: center;
    display: flex;
    margin: 0 0 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 40px;
    color:cyan;
    text-shadow: 10px 10px 13px black;
    
    
}
#container{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    gap:10px;
}
#row1,#row2,#row3{
    display:flex;
    justify-content: center;
    gap:10px;
}
#container button{
    height: 100px;
    width:100px;
   border-radius: 10px;
  background-color:rgba(210, 222, 232, 0.758);
   box-shadow:1px 8px 15px black;
   font-size: 50px;
   color: darkblue;
}
#reset{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 5px;
    background-color: aqua;
    padding: 5px;
    font-weight: 200;
}
#winner{
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 50px;
    z-index: 2;
    color: rgb(154, 255, 143);
    font-weight: 200;
    
}
img{
    display:none;
    position: absolute;
    z-index: -1;
    height:100vh;
    width: 100vw;
   
}
